@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Barlow Semi Condensed;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* ## Colors */
    /* ### Primary */
    --Moderate-violet: #7541c8;
    --Very-dark-grayish-blue: #48556a;
    --Very-dark-blackish-blue: #19212e;
    --White: #ffffff;
    /* ### Neutral */
    --Light-gray: #cfcfcf;
    --Light-grayish-blue: #ecf2f8;
    /* font weight */
    --fw500: 500;
    --fw600: 600;
    /* fs */
    --fs: 13px
}

body {
    background-color: var(--Light-grayish-blue);
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: clamp(320px, 100%, 1140px);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 2rem;
}

/* left side */
main {
    flex: 3 1 750px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card1,
.card4 {
    flex: 2 1 500px;
}

.card2,
.card3 {
    flex: 1 1 250px;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    gap: 1rem;
    border-radius: 10px;
    position: relative;
}

.cards::after {
    z-index: -1;
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 20px 20px rgb(225, 225, 225);
}

.cards h3 {
    font-weight: var(--fw600);
}

.cards>p {
    font-size: var(--fs);
}

.cards .prof-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cards .prof-wrapper span {
    font-size: .8rem;
}

.cards .img-container {
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* font color */
.card1,
.card2,
.card4 {
    color: var(--White);
}

.card1 p,
.card2 p,
.card4 p,
.card1 .prof-wrapper span,
.card2 .prof-wrapper span,
.card4 .prof-wrapper span
 {
    color: var(--Light-gray);
}

.card3 p,
.card5 p,
.card3 h3,
.card5 h3,
.card3 .prof-wrapper span,
.card5 .prof-wrapper span

{
    color: var(-Very-dark-blackish-blue);
}


/* designing cards */
.card1 {
    background-color: var(--Moderate-violet);
    position: relative;
}

.card1>*:not(svg) {
    z-index: 11;
}

.card1 svg {
    position: absolute;
    top: 0;
    z-index: 1;
    right: 5rem;
}

.card2 {
    background-color: var(--Very-dark-grayish-blue);
}

.card3 {
    background-color: var(--White);
}

.card4 {
    background-color: var(--Very-dark-blackish-blue);
}

/* images insert */
.card1 .img-container {
    background-image: url('./images/image-daniel.jpg');
}

.card2 .img-container {
    background-image: url('./images/image-jonathan.jpg');
}

.card3 .img-container {
    background-image: url('./images/image-jeanette.jpg');
}

.card4 .img-container {
    background-image: url('./images/image-patrick.jpg');
}

.card5 .img-container {
    background-image: url('./images/image-kira.jpg');
}

/* right side */
aside {
    background-color: var(--White);
    flex: 1 1 250px;
}